APP_NAME="Platform Framework"
APP_ENV=local
APP_KEY=base64:B8E28yrs5BF9YsieP5Ap5r43mKm0xdYEoRAjAIfeP5I=
APP_DEBUG=true
APP_URL=http://ewallet.local
ADMIN_HTTPS=false
ASSET_URL=http://ewallet.local

LOG_CHANNEL=stack

PLATFORM_OWNER_ID=2

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3308
DB_DATABASE=ewallet
DB_USERNAME=root
DB_PASSWORD=123456

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=""
REDIS_PORT=6379
REDIS_PREFIX=""

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=ap1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

MONITOR_ACCOUNTING=false
CGW_BASE_URL="http://localhost:3000/api"
GENERAL_LEDGER_ACCOUNT="1"

MONITOR_COMMISSION=false
COMMISSION_BASE_URL="http://localhost:3002/api"

MONITOR_PRODUCT=false
CBS_PRODUCT_BASE_URL="http://localhost:3004/api"

MONITOR_PRODUCT_RATING=false
CBS_PRODUCT_RATING_BASE_URL="http://localhost:3006/api"

#SMS provider : sierra/tango
SMS_PROVIDER='sierra'

#TangoSMSAPI
TANGO_SMS_BASE_URL="https://sms.provider.example/api/send"
TANGO_MASKING=""
TANGO_SMS_USER=""
TANGO_SMS_PASSWORD=""

#Sierra Settings
SIERRA_SECRET_ID="IKIDb2HI5vWt1vERQCm9MOEqdHhtyrWyEG3b"
SIERRA_SECRET_KEY="OaYHn8F9oHYdWBfx0rVwEOK2YqukOr8C"
SIERRA_SMS_SDK_APP_ID="2400001265"
SIERRA_REGION="ap-singapore"
SIERRA_SIGN_METHOD="TC3-HMAC-SHA256"
SIERRA_ENDPOINT="sms.ap-singapore.sierracloudapi.com"
SIERRA_SIGN_NAME=""
SIERRA_SENDER_ID=""

#VerneMQ Settings for notification
ENABLE_NOTIFICATION=false
MQTT_SERVER='127.0.0.1'
MQTT_PORT='1883'
MQTT_CLIENT_PORT='9001'
MQTT_CLIENT_ID='ClientID'
MQTT_HTTPS_ENABLE=0
MQTT_BACKEND_SERVER='127.0.0.1'
WEBHOOK_API_TOKEN=

# JWE payload encryption (see config/keystore.php.example)
JWE_KID_LOCAL=
JWE_KID_STAGING=
JWE_KID_PRODUCTION=
JWE_KEY_LOCAL=
JWE_KEY_STAGING=
JWE_KEY_PRODUCTION=
